apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-blue
  namespace: project

spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
      version: blue

  template:
    metadata:
      labels:
        app: myapp
        version: blue

    spec:
      containers:
      - name: app
        image: devender1999/ci-cd:324fecf

        ports:
        - containerPort: 8081
---

apiVersion: v1
kind: Service
metadata:
  name: myapp-svc
  namespace: project

spec:
  type: ClusterIP
  selector:
    app: myapp
    version: blue
  ports:
  - port: 80
    targetPort: 8081
